<!DOCTYPE html>
<html lang="en">


<head>
    <title>Education Master Template</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="~/images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="~/css/materialize.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="~/css/style-mob.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Mobile Menu -->
    <link href="~/cssbook/mmenu.css" rel="stylesheet" type="text/css" />
    <link href="~/cssbook/mmenu.positioning.css" rel="stylesheet" type="text/css" />

    <!-- Responsive Table -->
    <link rel="stylesheet" type="text/css" href="~/cssbbok/responsivetable.css" />

    <!-- Stylesheet -->
    <link href="~/cssbook/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a asp-controller="Akun" asp-action="Index">
                            <img src="~/images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>All Courses</h4>
                            <ul>
                            </ul>
                            <h4>User Account</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Register</a></li>
                            </ul>
                            <h4>All Pages</h4>
                            <ul>
                            </ul>
                            <h4>User Profile</h4>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li>
                                    <a href="#">Contact: Edward Sitompul, Jl Ahmad Yani 110, S.B.G</a>
                                </li>
                                <li>
                                    <a href="#">Phone: +101-1231-1231</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li>
                                    <a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a asp-controller="Akun" asp-action="Index">
                                <img src="~/images/libraria-logo-v2.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li>
                                    <a asp-controller="Akun" asp-action="Index">Home</a>
                                </li>
                                <li class="about-menu">
                                    <a href="#" class="mm-arr">Tentang Kami</a>
                                </li>
                                <li class="admi-menu">
                                    <a asp-action="BukuView" class="mm-arr">Semua Buku</a>
                                </li>
                                <li class="cour-menu">
                                    <a href="#!" data-toggle="modal" data-target="#modal1" class="mm-arr">All Pages</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="cour-mm m-menu">

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#!" data-toggle="modal" data-target="#modal1">Lokasi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search course and discount courses">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    @RenderBody()

    <!--Import jQuery before materialize.js-->
    <script src="~/js/main.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- jQuery Latest Version 1.x -->
    <script type="text/javascript" src="~/jsbook/jquery-1.12.4.min.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="~/jsbook/jquery-ui.min.js"></script>

    <!-- jQuery Easing -->
    <script type="text/javascript" src="~/jsbook/jquery.easing.1.3.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="~/jsbook/bootstrap.min.js"></script>

    <!-- Mobile Menu -->
    <script type="text/javascript" src="~/jsbook/mmenu.min.js"></script>

    <!-- Harvey - State manager for media queries -->
    <script type="text/javascript" src="~/jsbook/harvey.min.js"></script>

    <!-- Waypoints - Load Elements on View -->
    <script type="text/javascript" src="~/jsbook/waypoints.min.js"></script>

    <!-- Facts Counter -->
    <script type="text/javascript" src="~/jsbook/facts.counter.min.js"></script>

    <!-- MixItUp - Category Filter -->
    <script type="text/javascript" src="~/jsbook/mixitup.min.js"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="~/jsbook/owl.carousel.min.js"></script>

    <!-- Accordion -->
    <script type="text/javascript" src="~/jsbook/accordion.min.js"></script>

    <!-- Responsive Tabs -->
    <script type="text/javascript" src="~/jsbook/responsive.tabs.min.js"></script>

    <!-- Responsive Table -->
    <script type="text/javascript" src="~/jsbook/responsive.table.min.js"></script>

    <!-- Masonry -->
    <script type="text/javascript" src="~/jsbook/masonry.min.js"></script>

    <!-- Carousel Swipe -->
    <script type="text/javascript" src="~/jsbook/carousel.swipe.min.js"></script>

    <!-- bxSlider -->
    <script type="text/javascript" src="~/jsbook/bxslider.min.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="~/jsbook/main.js"></script>


    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @* sweetalert *@
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
